{% extends 'html/header.html' %}
{% block title %}AboutUs{% endblock %}
{% block content %}

<!-- <p>this is aboutus</p> -->

<!-- <style>
	body {
		background-color:Gainsboro;
	}
</style> -->
	<h3 class="text text-center text-info mx-4 mt-3">OUR MISSION</h3>
	<p class="ml-auto p-3"style="font-size:20px">The Objective of the Crime Reporting System is to build up a web-based program to report the crimes that happen in the city. It gives the platform of transferring pictures or recordings of wrong doing scenes to guarantee that police may make a move right away. 
	It additionally supplies the exhortation of missing people and security tips for the awareness of individuals.</p>
	<p class="ml-auto p-3" style="font-size:20px">To report any grievances related to wrong doing, individuals need to contact the nearest police headquarters. Individuals of the particular city don't know about wrongdoing related issues, for example, List of Most wanted lawbreakers of their town, missing people of the territory, etc. People must view News Channels or Read News Paper for such offence related subtleties. Along these lines, we can say that the present stage is manual and somewhat inefficient.</p>


{% endblock %}