{% extends 'html/header.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="container">
	<div class="card mx-auto col-md-6 mt-4 p-2 shadow-lg">
		<div class="card-body">
			<h3 class="text-center text-warning p-2">CHANGE PASSWORD</h3>
			<form method="POST">
				{% csrf_token %}
				<table class="table table-borderless">
						{% for i in t %}
						<tr>
							<td>{{i}}</td>
						</tr>
						{% endfor %}
				</table>
				<input type="submit" value="change" class="form-control my-2 btn btn-success btn-block">
			</form>
		</div>
		
	</div>
	
</div>

{% endblock %}