{% extends 'html/header.html' %}
{% block title %}Reset confirm{% endblock %}
{% block content %}
<div class="container">
	<div class="card mt-4 col-md-6 mx-auto">
		<h3 class="text-center text-light bg-danger mt-2 p-2">Reset_password_confirmation</h3>
		<div class="card-body ">
			<form method="post">
				{% csrf_token %}
				<input type="password" name="new_password1" class="form-control my-2" placeholder="Enter New Password">
				<input type="password" name="new_password2" class="form-control my-2" placeholder="Enter New Confirm Password">
				<input type="submit" value="Update" class="btn btn-block btn-success text-light form-control my-2">	
			</form>
		</div>
	</div>
</div>
{% endblock %}